.hours {
  display: flex;
  color: white;
  font-size: 4rem;
}

.dayOne {
  transform: translate(440px, -25px);
}

.dayTwo {
  transform: translate(50px, 25px);
}

.time {
  font-size: 45px;
  margin-top: 50px;
  transform: rotate(-30deg) translate(-50px, -20px);
  color: black;
  opacity: 0.8;
}
