.mottoContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 50vh;
  color: rgb(217, 214, 214);
}

.mottoText{
  height: 4vh;
  font-size: 40px;
}

.subText{
  margin-top: 10px;
  line-height: 400px;
  font-size: 20px;
  font-weight: bold;
}



