.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 10vh;
}

h1:nth-child(2) {
  position: absolute;
  top: -35px;
  left: 4px;
}

.Logo {
  position: absolute;
  top: -35px;
  padding-left: 80px;
  color: transparent;
  -webkit-text-stroke: 1px black;
  font-size: 60px;
}

.Logo:hover {
  cursor: pointer;
}

.rightNav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 20vw;
  padding-right: 80px;
  margin-bottom: 185px;
}

.navButton {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.navButton:hover {
  cursor: pointer;
  opacity: 0.6;
}
