.container {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  transform: translateY(-20px);
  width: 100vw;
}

.leftNav {
  display: flex;
  width: 50vw;
  transform: translateX(80px);
}

.Logo:nth-child(2) {
  position: absolute;
  left: 5px;
}

.Logo {
  cursor: pointer;
  position: absolute;
  color: transparent;
  -webkit-text-stroke: 1.5px black;
  font-size: 70px;
}

.Logo:hover {
  display: none;
  cursor: pointer;
}

.rightNav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
}

.navButton {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 20px;
  font-weight: bold;
  transform: translate(170px, 55px);
  width: 7.5vw;
}

.navButton:hover {
  cursor: pointer;
  opacity: 0.7;
}

.contact {
}

a {
  display: flex;
  text-decoration: none;
}
