.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 10vh;
}

h1:nth-child(2) {
  position: absolute;
  top: -35px;
  left: 5px;
}

.Logo {
  position: absolute;
  top: -35px;
  padding-left: 80px;
  color: transparent;
  -webkit-text-stroke: 1.5px black;
  font-size: 70px;
}

.Logo:hover {
  cursor: pointer;
}

.rightNav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 20vw;
  padding-right: 65px;
  margin-bottom: 200px;
}

.navButton {
  color: white;
  font-size: 20px;
  padding: 0px 15px;
  font-weight: bold;
}

.navButton:hover {
  cursor: pointer;
  opacity: 0.6;
}

a{
  display: flex;
  text-decoration: none;
}
