.orderButton {
  display:flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: 125px;
  border-radius: 25px;
  font-weight: 900;
  font-size: 16px;
  color: rgb(0, 0, 0);
  background-color: rgb(195, 171, 141);
  border: 1px solid rgb(195, 171, 141);
}

.orderButton:hover {
  opacity: 0.33;
  cursor: pointer;
}

