@import-normalize;

.firstScreen {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("/Users/swaggy/Desktop/montrose/src/assets/header.jpeg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.8;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;

  /* Safari seems to support, but seems deprecated and does the same thing as the others. */
  image-rendering: -webkit-optimize-contrast;
  color:white;
}

.secondScreen {
  display: flex;
  flex-direction: column;
  height: 170vh;
  
}

.topSecondScreen{
  height:70vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-image: url("/Users/swaggy/Desktop/montrose/src/assets/dallas.jpeg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  opacity: 0.9;
}

.bottomSecondScreen{
  height:100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-image: url("/Users/swaggy/Desktop/montrose/src/assets/coffee.jpeg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  opacity: 0.8;
}




/**
 * Add the correct display in IE 9-.
 */

 audio,
 video {
   display: inline-block;
 }
 
 /**
  * Remove the border on images inside links in IE 10-.
  */
 
 img {
   border-style: none;
 }