.firstScreen{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.secondScreen{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 140vh;
}